# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/
resources/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

.idea/misc.xml
.idea/modules.xml
debug.log
Xfoil/pplot.exe
Xfoil/xfoil.exe
Xfoil/pxplot.exe
AAE451.code-workspace
.idea/AAE451.iml
.idea/libraries/AAE_451_Final_Assignment_6_Files.xml
.idea/vcs.xml
~$FlyingWingParams.xlsx
.gitignore